.center
{
   text-align: center;
   font-family: DejaVu Sans Mono,Noto Sans, sans-serif;
   font-size: 30px;
}

#Sandbox
{  
    
    width: 80vw;
    height: 80vh;
    margin: auto;
    color: red;
    border:5px solid black;
    display: grid;
    grid-template-columns: var(--columnNum );
    overflow: auto;
}

/* Default class of grid */
.blank
{   
    /* border: 1px solid black;
    margin: 1px; */
    color: white;
}

/* When it is highlighted by the mouse */
.hilight
{
    color: black;
    background-color: black;
    /* border: 1px solid black; */
    /* margin: 1px; */
}
/* Trying the above with css first. */

/* Only works when mouse is on it */
#Sandbox > div:h
{
    background-color: red;
}